h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
.comingsoon {
  color: Aquamarine;
  font-size: 16px;
  text-align: center;
}
p {
  text-align: center;
}
#copyright {
  text-align: right;
  color: gray;
  font-family: Verdana;
}
body {
  background-color: black;
}
h2 {
  font-size: 42px;
  font-weight: 300;
  font-family: Verdana;
  color: white;
  text-align: center;
}
